$font-size-default: 13px !default;
$font-family-default: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif !default;

$color-dark-red: #c91b1b;
$color-red: #e84556;
$color-light-red: #ef7c88;

$color-green: #1bc98e;
$color-light-green: #4cdaae;
$color-dark-green: #1baf7d;

$color-purple: #9f82ff;
$color-light-purple: #bca7ff;

$color-yellow: #e5d916;
$color-light-yellow: #ede45b;

$color-blue: #1997c6;

$color-white: #ffffff;
$color-light-grey: #ccc;

$handlebar-color: #252830;
$color-med-bg: #3c414f;

$dark-bg: #333;
$light-bg: #fff;

$inactive-bg: #ececec;

$handlebar-height: 86px;
$color-bg: black;

$light-theme-unfocused-bg: #e6e6e6;
$light-theme-unfocused-text-color: #acacac;
$light-theme-lines-between-color: #b3b3b3;
$light-theme-bg: #ffffff;
$light-theme-text-color: #515151;
$light-theme-input-active-bg: #ccc;
$light-theme-input-bg: #f2f2f2;
$light-theme-input-bg-transparency: #f2f2f285;

$standard-border-radius: 5px;
