$font-size-default: 13px !default;
$font-family-default: -apple-system, BlinkMacSystemFont, 
"Segoe UI", "Roboto", "Oxygen", 
"Ubuntu", "Cantarell", "Fira Sans", 
"Droid Sans", "Helvetica Neue", sans-serif !default;

$color-dark-red: #C91B1B;
$color-red: #E84556;
$color-light-red: #EF7C88;

$color-green: #1BC98E;
$color-light-green: #4CDAAE;
$color-dark-green: #1BAF7D;

$color-purple: #9F82FF;
$color-light-purple: #BCA7FF;

$color-yellow: #E5D916;
$color-light-yellow: #EDE45B;

$color-blue: #1997C6;

$color-white: #ffffff;
$color-light-grey: #ccc;

$handlebar-color: #252830;
$color-med-bg: #3C414F;


$dark-bg: #333;
$light-bg: #fff;

$inactive-bg: #ECECEC;

$handlebar-height: 86px;
$color-bg: black;

$light-theme-unfocused-bg: #e6e6e6;
$light-theme-unfocused-text-color: #acacac;
$light-theme-lines-between-color: #ccc;
$light-theme-bg: #ffffff;
$light-theme-text-color: #515151;
$light-theme-input-active-bg: #ccc;
$light-theme-input-bg: #f2f2f2;
$light-theme-input-bg-transparency: #f2f2f285;

$standard-border-radius: 5px;